.days-of-week {
    flex-direction: column;
    margin-left: calc(1vh + env(safe-area-inset-left));
    padding: 4vh 0;
    width: 6vh;
    /* background-color: #222; */
    justify-content: space-between;
}

.day {
    /* compatibility */
    width: calc((100vh - 8vh - 14 * 1vh) / 14);
    height: calc((100vh - 8vh - 14 * 1vh) / 14);
    font-size: calc((100vh - 8vh - 14 * 1vh) / 18);
    /* normal values */
    margin: 0.5vh 0;
    width: calc((100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 8vh - 14 * 1vh) / 14);
    height: calc((100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 8vh - 14 * 1vh) / 14);
    border: 0.075em solid slategrey;
    position: relative;
    padding: 0 0.2vh;
    color: slategrey;
    font-size: calc((100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 8vh - 14 * 1vh) / 18);
}

.weekend {
    background-color: slategrey;
    border-color: transparent;
    color: black;
}

.same-day {
    background-color: white;
    border-color: white;
    color: black;
}

.day-of-week {
    align-self: flex-end;
    padding-left: 0.1vh;
    padding-bottom: 0.2vh;
    font-weight: bolder;
    font-size: 75%;
}

.day-of-month {
    position: absolute;
    align-self: flex-start;
    justify-content: flex-end;
    padding-top: 0.2vh;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 55%;
}
