.days-of-week {
    flex-direction: column;
    height: 100%;
    padding: 2em 0 2em 1em;
    background-color: #222;
}

.day {
    position: relative;
    flex: 1 0 auto;
    align-items: center;
    margin: 0.5vh 0;
    padding: 0 0.2vh;
    width: calc((100vh - 4em - 14 * 1vh) / 14);
    height: calc((100vh - 4em - 14 * 1vh) / 14);
    border: 0.1em solid white;
    color: gray;
    font-size: 4vh;
}

.weekend {
    background-color: gray;
    color: black;
}

.same-day {
    background-color: white;
    border-color: white;
    color: black;
}

.day-of-week {
    align-self: flex-end;
    font-size: 75%;
    font-weight: bolder;
}

.day-of-month {
    position: absolute;
    align-self: flex-start;
    justify-content: end;
    padding-top: 0.1vh;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 50%;
}
