.progress {
    flex-direction: column;
    margin-right: calc(1vh + env(safe-area-inset-left));
    width: 6vh;
    justify-content: space-between;
    align-items: flex-end;
}

.progress-hour {
    margin-bottom: 0.5vh;
    width: calc((75vh - 24 * 0.5vh) / 12);
    height: calc((75vh - 24 * 0.5vh) / 24);
}

.progress-hour-text {
    width: 50%;
    justify-content: center;
    align-self: center;
    font-size: 1.75vh;
    color: slategrey;
}

.progress-hour-blocks {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    /* compatibility */
    height: 100%;
}

.progress-block-container {
    width: 33%;
    height: 50%;
    padding-left: 1px;
    padding-bottom: 1px;
}

.progress-block {
    border: 1px solid slategrey;
    flex: 1;
}

.progress-work-hour {
    color: white;
    border-color: white;
}

.progress-past {
    background-color: slategrey;
    border-color: slategrey;
}

.progress-work-hour.progress-past {
    background-color: white;
    border-color: white;
}

.progress-current,
.progress-current.progress-past {
    background-color: transparent;
}
